@model Performance.WebApp.Controllers.ExecuteExpensiveViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Performance tests</title>
        <style type="text/css">
            .external-data {
                margin: 10px;
                font-size: 30px;
                font-family: Arial;
            }
        </style>
    </head>
    <body>
        <div class="external-data">
            @Model.ExternalData  
        </div>
        <div class="external-data">
            @foreach(var word in Model.QueryResult)
            {
                @word <br/>
            }
        </div>
    </body>
</html>